@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1em;
}

.App {
  text-align: center;
  width: auto;
  height: 100%;
  background: #1b1b1b;
  min-height: 100vh;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  z-index: 1;
}

.nav-logo {
  width: 50px;
  margin: 0 25px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  list-style: none;
  width: auto;
  margin: 0 40px;
}

.nav-link {
  width: 5%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-link:hover {
  color: #f2b544;
  font-size: 1.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.main_logo_container {
  width: 100%;
  height: auto;
}

.main_bg {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 5px 0;
}

.brightness {
  filter: brightness(30%);
}

.main_logo {
  position: absolute;
  width: 400px;
  height: 450px;
  margin: auto;
  left: 33%;
  top: 15%;
}

.light {
  filter: brightness(150%);
  filter: drop-shadow(10px 10px 5px #000);
}

.about_container {
  width: auto;
  height: 100%;
}

.about-image1 {
  width: auto;
  height: auto;
}

.about-image1 > img {
  width: 100%;
  height: auto;
}

.about-items {
  position: static;
  width: auto;
  height: auto;
  color: #fff;
  background-color: #2a5fac;
  justify-content: flex-end;
  margin: -5px 0 0 0;
}

.about_content {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  height: auto;
  width: 90%;
  margin: auto;
  padding: 2px 0;
}

.content_1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  width: 35%;
}

.title {
  font-size: 6rem;
}

.about-line {
  display: none;
}

.about-01 {
  position: unset;
  margin: 15px 0 0 0;
  width: 90%;
  filter: drop-shadow(10px 0 10px #34517c);
}

.about-arraows-hr {
  position: absolute;
  bottom: 0%;
  left: 0%;
  opacity: 0.25;
  width: 20%;
  filter: drop-shadow(-8px 0 4px);
}

.content_2 {
  position: static;
  display: flex;
  flex-direction: column;
  width: 48%;
  line-height: 1.4em;
  margin: auto 0;
  gap: 20px;
}

.desc_ar {
  text-align: right;
  width: auto;
  line-height: 1.5em;
  direction: rtl;
}

.desc_en {
  text-align: left;
  width: auto;
  line-height: 1.2em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-arraows {
  position: absolute;
  width: 10%;
  height: auto;
  bottom: 0%;
  left: -5%;
  opacity: 0.25;
  filter: drop-shadow(8px 0 4px);
}

.goals-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  width: auto;
  height: 100%;
  color: #fff;
  padding: 25px 0 0 0;
}

.goals-content {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 75%;
  height: 100%;
  margin: 55px auto 10px auto;
  font-size: 1rem;
}

.goals-header {
  display: flex;
  flex-direction: column;
}

.goal-line {
  width: 20%;
  height: 10px;
  background: #2a5fac;
  border-radius: 10px;
  transform: translate(-5%, 30%);
  margin: 0 auto;
}

.goal-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.goals-img {
  position: absolute;
  top: 2%;
  left: 0%;
  opacity: 0.2;
  max-width: 12%;
  height: auto;
  filter: drop-shadow(4px 4px 0 #2a5fac);
}

.goals-footer {
  width: 100%;
  height: 30%;
  margin: 60px 0 0 0;
}

.goals-footer > img {
  width: 100%;
}

.mission-container {
  color: #fff;
  padding: 5% 0;
}

.mission-image {
  width: 100%;
  height: auto;
  background: url('../public/Images/mission-bg.jpg') no-repeat;
  background-size: cover;
  object-fit: fill;
  opacity: 0.9;
}

.mission-content {
  display: flex;
  margin: 0 auto;
  width: 65%;
  padding: 45px 5px;
}

.mission-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0;
}

.mission-line {
  width: 15%;
  height: 1.5%;
  background: #fff;
  position: absolute;
  left: 35%;
  border-radius: 10px;
  transform: translate(20%, 50%);
}

.mission-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a5fac;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.value-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.value-bg-image {
  background: url('../public/Images/value-bg.jpg') no-repeat;
  background-size: 70%;
  background-position: right;
  position: relative;
}

.value-bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #474748, rgba(82, 82, 84, 0.05));
}

.value-img {
  position: relative;
  top: 0%;
  left: 5%;
  width: 50%;
  height: 7rem;
  margin: 0;
  opacity: 0.25;
}

.value-content {
  position: relative;
  width: 40%;
  padding: 5px 40px 35px 40px;
  margin: auto 0;
}

.value-title {
  color: #f2b544;
}

.val-line {
  width: 25%;
  height: 1.5%;
  background: #222121;
  position: absolute;
  top: 26%;
  left: 25%;
  border-radius: 10px;
  transform: translate(0%, 50%);
}

.val-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #491e1e;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.value-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
  margin: 0 auto;
}

.service-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 10px 0;
}

.service-bg-image {
  background: url('../public/Images/service-bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.service-bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, rgba(71, 71, 72, 1), rgba(36, 36, 36, 0.5) 60%);
}

.service-img {
  position: absolute;
  width: 50%;
  height: auto;
  opacity: 0.25;
  left: 50%;
}

.service-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: auto;
  padding: 30px 0;
}

.header {
  margin: auto 0;
}

.header > .title {
  filter: drop-shadow(5px 5px 20px #204884);
}

.line-service {
  width: 15%;
  height: 10%;
  background: linear-gradient(to right, #2a5fac, #fff);
  position: absolute;
  bottom: 0%;
  left: 34.33%;
  border-radius: 20px;
  transform: translate(0%, 60%);
}

.line-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fff, #f2b544);
  border-radius: 20px;
  animation: animate 7s linear infinite;
}

.service-items {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 80%;
  height: auto;
  margin: 15px auto;
  align-items: self-start;
  align-self: auto;
  gap: 30px;
}

.services-1,
.services-2 {
  display: flex;
  flex-direction: column;
  width: auto;
  gap: 9px;
  padding: 5px 0;
  margin: 0 auto;
}

.service_ar {
  font-size: 1.1em;
  text-align: center;
}

.service_en {
  font-size: 1.1em;
  color: #f2b544;
  padding: 0 0 6px 0;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rent-service-ar > li {
  font-size: 0.8rem;
}

.rent-service-en > li {
  color: #f2b544;
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 92%;
}

.vision-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  color: #eae3eb;
}

.vision-bg-img {
  background: url('../public/Images/vision-bg.jpg') no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.vision-bg-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, rgba(29, 73, 1, 0.7), rgba(29, 73, 1, 0.5));
}

.vision-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 60px auto;
}

.vision-img {
  margin: 50px auto 30px auto;
  width: auto;
  filter: brightness(135%);
  padding: 32px;
}

.vision-desc {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(29, 73, 1, 0.3);
}

.contact-contaner {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: auto;
  color: #fff;
  background-color: #161f48;
  padding: 5px 0;
}

.contact-img-bg {
  width: auto;
  padding: 1.5px 0;
  filter: drop-shadow(-30px -30px 30px #000);
}

.contact-content {
  width: auto;
  margin: 0 auto;
}

.contact-items {
  display: flex;
  flex-direction: row-reverse;
  padding: 120px 0 25px 0;
  justify-content: space-between;
  width: auto;
  margin: 0 auto;
  gap: 30px;
}

.contact-title {
  font-size: 3.5em;
  filter: drop-shadow(8px 8px 4px #000);
}

.icons-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: auto;
  font-size: 1.2em;
  background: rgba(180, 179, 182, 0.5);
  border-radius: 20px;
  padding: 15px;
  gap: 15px;
  filter: drop-shadow(8px 8px 4px #000);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icons {
  width: auto;
  text-align: center;
}

.icon {
  cursor: pointer;
  text-align: left;
  filter: drop-shadow(6px 6px 3px #000);
}

.icon > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.icon-logo {
  width: auto;
  padding: 5px;
  border-radius: 50%;
}

.whatsapp-logo {
  color: #25d366;
  background: #fff;
  border: 1.5px solid #25d366;
}

.email-logo {
  color: #606060;
  background: #fff;
  border: 1.5px solid #606060;
}

.map-logo {
  color: #db4437;
  background: #fff;
  border: 1.5px solid #db4437;
}

.line {
  width: 50%;
  height: 10%;
  background: linear-gradient(to right, #2a5fac, #fff);
  position: absolute;
  bottom: -15%;
  border-radius: 20px 10px;
  transform: translate(0%, 50%);
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fff, #f2b544);
  border-radius: 20px 10px;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0% {
    left: 0;
  }

  50% {
    left: 60%;
  }

  0% {
    left: 0;
  }
}

@media screen and (max-width: 800px) {
  * {
    font-size: 0.85rem;
  }

  .about_content {
    flex-direction: column;
    height: auto;
    width: auto;
    margin: auto;
    padding: 30px 0;
  }

  .content_1 {
    width: auto;
  }

  .title {
    font-size: 3rem;
  }

  .about-line {
    display: block;
    width: 20%;
    height: 10px;
    background: #474748;
    border-radius: 10px;
    transform: translate(0%, 50%);
    margin: 0 auto;
  }

  .about-line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    background: #fff;
    border-radius: 10px;
    animation: animate 9s linear infinite;
  }

  .about-01 {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0 5px;
    width: 20%;
    opacity: 0.8;
  }

  .about-arraows-hr {
    display: none;
  }

  .content_2 {
    width: 50%;
    margin: 0 auto;
    gap: 10px;
    padding: 5px 0 15px 0;
  }

  .about-arraows {
    width: 35%;
    left: -2%;
    filter: none;
  }

  .goals-header > h2 {
    font-size: 3.5rem !important;
  }

  .goals-content {
    margin: 45px auto 0 auto;
  }

  .goals-content > p {
    font-size: 1.145rem !important;
  }

  .goals-footer {
    margin: 55px 0 0 0;
  }

  .mission-content {
    width: 65%;
    padding: 35px 5px;
    margin: 0 auto;
  }

  .val-line {
    width: 15% !important;
    top: 16% !important;
    left: 35% !important;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 0.8rem;
  }

  .about_content {
    padding: 10px 0;
  }

  .title {
    font-size: 2.6rem;
  }

  .content_2 {
    font-size: 0.8rem;
    width: 60%;
    padding: 20px 0;
    gap: 10px;
  }

  .about-line {
    margin: 10px auto;
  }

  .goals-content {
    flex-direction: column-reverse;
    font-size: 0.9rem;
    width: 70%;
    margin: 45px auto 0 auto;
  }

  .goals-footer {
    margin: 30px 0 0 0;
  }

  .val-line {
    width: 20% !important;
    top: 13% !important;
  }
}

@media screen and (max-width: 500px) {
  .about_content {
    padding: 30px 0;
  }

  .title {
    font-size: 3.5rem;
  }

  .content_2 {
    font-size: 0.7rem;
    width: 70%;
    margin: 10px auto;
  }

  .goals-content {
    font-size: 0.88rem;
    flex-direction: column-reverse;
  }

  .goals-img {
    height: 80%;
  }

  .value-bg-image {
    background-size: cover !important;
  }

  .value-content {
    width: 60% !important;
    margin: 0 auto !important;
  }

  .value-items {
    width: auto !important;
  }

  .val-line {
    top: 20% !important;
  }

  .rent-service-en,
  .service_en {
    display: none;
  }

  .service-content {
    padding: 0;
    margin: 15px auto;
  }

  .service-items {
    flex-direction: column-reverse;
    margin: 15px auto;
    gap: 0;
  }

  .line-service {
    bottom: -5%;
  }

  .rent-service-ar {
    padding: 5px 0 0 0;
    color: #f2b544;
  }

  .vision-content {
    width: auto;
  }

  .vision-desc {
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
  }

  .vision-img {
    margin: 0 auto;
  }

  .contact-items {
    flex-direction: column !important;
    padding: 90px 0 50px 0 !important;
  }

  .contact-img-bg {
    margin: 0 0 50px 0;
  }

  .line {
    bottom: -20%;
    left: 10%;
  }
}

@media screen and (max-width: 400px) {
  .goals-content > p {
    font-size: 1rem !important;
  }

  .val-line {
    top: 18% !important;
  }

  .value-content {
    width: 70% !important;
  }

  .vision-desc {
    margin: 20px auto;
  }

  .vision-img {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 300px) {
  .about_content {
    padding: 15px 0;
  }

  .goals-content > p {
    font-size: 0.88rem !important;
  }

  .val-line {
    top: 14% !important;
  }

  .nav {
    width: 99%;
  }

  .nav-items {
    gap: 10px;
  }
}
