.body {
  background: #000;
}

.App {
  text-align: center;
  width: auto;
  height: auto;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.main_logo_container {
  width: 100%;
}

.main_bg {
  width: 100%;
  height: auto;
  object-fit: fill;
}

.brightness {
  filter: brightness(30%);
}

.main_logo {
  position: absolute;
  width: 400px;
  height: 450px;
  margin: auto;
  left: 33%;
  top: 15%;
}

.light {
  position: 'absolute'; left: '32%';
  filter: brightness(100%);
  filter: drop-shadow(10px 10px 5px #000000);
  
}

/*.light:hover {
  animation-name: spin;
  animation-duration: 5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(0deg);
  }
}*/
