@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1rem;
}

html { overflow-x: hidden; }

.App {
  text-align: center;
  width: 100%;
  height: 100%;
  background: #1b1b1b;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 0;
  color: #fff;
  border-bottom: 0.1px solid #fff;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.nav-logo {
  width: 50px;
  margin: 0 10px 0 20px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  list-style: none;
  width: auto;
  margin: 0 30px 0 0;
}

.nav-link {
  width: 5%;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: monospace;
  font-size: 1.1rem;
  transition: 0.3s;
}

.nav-link:hover {
  color: #f2b544;
  font-size: 1.2rem;
}

.main {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
}

.main_logo_container {
  width: 100%;
  height: auto;
}

.main_bg {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding: 5px 0;
}

.brightness {
  filter: brightness(30%);
}

.main_logo {
  position: absolute;
  width: 400px;
  height: 450px;
  margin: auto;
  left: 33%;
  top: 15%;
}

.light {
  filter: brightness(150%);
  filter: drop-shadow(10px 10px 5px #000);
}

.about_container {
  width: auto;
  height: auto;
  margin: auto;
}

.about-media {
  width: 100%;
  height: auto;
}

.about-media > video {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  object-fit: cover;
}

.about-items {
  position: absolute;
  top: 23%;
  color: #c1d8f9;
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  animation: show linear 0.8s;
}

@keyframes show {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.about_content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
  width: 80%;
  margin: 0 auto;
  padding: 25px 20px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
}

.title {
  font-size: 5rem;
}

.about-line {
  display: block;
  width: 20%;
  height: 10px;
  background: #2a5fac;
  border-radius: 10px;
  transform: translate(0%, 60%);
  margin: 0 auto;
}

.about-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: #c1d8f9;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.content {
  display: flex;
  flex-direction: row-reverse;
  line-height: 1.4em;
  margin: auto;
  gap: 10px;
}

.desc_ar,
.desc_en {
  width: auto;
  line-height: 1.4em;
}

.desc_ar {
  text-align: right;
  direction: rtl;
}

.desc_en {
  text-align: left;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.goals-container {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
  min-height: 100vh;
  color: #fff;
}

.goals-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: 30px auto 0 auto;
  font-size: 1rem;
}

.goals-header {
  display: flex;
  flex-direction: column;
  margin: 45px 0 10px 0;
}

.goal-line {
  width: 15%;
  height: 10px;
  background: #2a5fac;
  border-radius: 10px;
  transform: translate(-5%, 30%);
  margin: 0 auto;
}

.goal-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.goals-img {
  position: absolute;
  top: 2%;
  left: 0%;
  opacity: 0.2;
  max-width: 12%;
  height: auto;
  min-height: 90%;
  filter: drop-shadow(4px 4px 0 #2a5fac);
}

.goals-items {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 80%;
  margin: 0 auto 20px auto;
}

.goals-footer {
  width: 100%;
  height: 100px;
}

.goals-footer > img {
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.mission-container {
  color: #fff;
  min-height: 100vh;
}

.mission-image {
  width: 100%;
  height: auto;
  background: url('../public/assets/mission-bg.jpg') no-repeat;
  background-size: cover;
  object-fit: fill;
  opacity: 0.9;
}

.mission-content {
  height: 100%;
  width: 100%;
}

.mission {
  width: 70%;
  margin: auto;
  padding: 70px 0;
}

.mission-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px 0;
}

.mission-line {
  width: 15%;
  height: 1.5%;
  background: #fff;
  position: absolute;
  left: 35%;
  border-radius: 10px;
  transform: translate(20%, 50%);
}

.mission-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2a5fac;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.value-container {
  width: auto;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.value-bg-image {
  background: url('../public/assets/value-bg.jpg') no-repeat;
  background-size: 70%;
  background-position: right;
  position: relative;
}

.value-bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, #474748, rgba(82, 82, 84, 0.05));
}

.value-img {
  position: relative;
  top: 0%;
  left: 5%;
  width: 45%;
  height: 7rem;
  margin: 0;
  opacity: 0.25;
  filter: drop-shadow(8px, 8px, 4px, #f2b544);
}

.value-content {
  position: relative;
  width: 45%;
  padding: 0 0 20px 0;
  margin: auto 0 auto 30px;
}

.value-title {
  color: #f2b544;
  position: static;
  z-index: 0;
}

.val-line {
  width: 30%;
  height: 2%;
  background: #491e1e;
  position: absolute;
  top: 22%;
  left: 35%;
  text-align: center;
  border-radius: 10px;
  transform: translate(0%, 50%);
}

.val-line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: #222121;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.value-items {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
  margin: 0 auto;
}

.service-container {
  width: auto;
  height: auto;
  min-height: 100vh;
  display: flex;
  color: #fff;
}

.service-bg-image {
  background: url('../public/assets/service-bg.jpg') no-repeat;
  background-size: cover;
  position: relative;
}

.service-bg-image::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to left, rgba(71, 71, 72, 1), rgba(36, 36, 36, 0.5) 60%);
}

.service-img {
  position: absolute;
  width: 50%;
  height: auto;
  opacity: 0.25;
  left: 50%;
}

.service-content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 80px 0;
}

.header {
  margin: auto 0;
}

.header > .title {
  filter: drop-shadow(5px 5px 20px #204884);
}

.line-service {
  display: block;
  width: 20%;
  height: 10px;
  background: linear-gradient(to right, #2a5fac, #f2b544);
  border-radius: 10px;
  transform: translate(0%, 60%);
  margin: 0 auto;
}

.line-service::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  animation: animate 9s linear infinite;
}

.service-items {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: auto;
  margin: auto;
}

.services {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  margin: 0 auto 10px auto;
}

.services > ul {
  list-style: circle;
  color: #f2b544;
}

.rent-service-ar > li {
  font-size: 0.9rem;
}

.rent-service-en > li {
  font-size: 0.9rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 85%;
}

.vision-container {
  width: auto;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #eae3eb;
}

.vision-bg-img {
  background: url('../public/assets/vision-bg.jpg') no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.vision-bg-img::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, rgba(29, 73, 1, 0.7), rgba(29, 73, 1, 0.5));
}

.vision-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: auto;
  margin: 60px auto;
}

.vision-img {
  margin: 50px auto 30px auto;
  width: auto;
  filter: brightness(135%);
  padding: 32px;
}

.vision-desc {
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  width: 80%;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(29, 73, 1, 0.3);
}

.contact-contaner {
  position: static;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: auto;
  min-height: 100vh;
  color: #fff;

  /* background-color: #022f5c; */
  padding: 5px 0;
}

.contact-img-bg {
  width: 100%;
  padding: 1.5px 0;
  filter: drop-shadow(-30px -30px 30px #000);
}

.contact-content {
  width: auto;
  margin: 0 auto;
}

.contact-items {
  display: flex;
  flex-direction: row-reverse;
  padding: 120px 0 25px 0;
  justify-content: space-between;
  width: auto;
  margin: 0 auto;
  gap: 30px;
}

.contact-title {
  font-size: 3.5em;
  filter: drop-shadow(8px 8px 4px #000);
}

.icons-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: auto;
  font-size: 1.2em;
  background: rgba(180, 179, 182, 0.5);
  border-radius: 20px;
  padding: 15px;
  gap: 15px;
  filter: drop-shadow(8px 8px 4px #000);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.icons {
  width: auto;
  text-align: center;
}

.icon {
  cursor: pointer;
  text-align: left;
  filter: drop-shadow(6px 6px 3px #000);
}

.icon > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #fff;
}

.icon-logo {
  width: auto;
  padding: 5px;
  border-radius: 50%;
}

.whatsapp-logo {
  color: #25d366;
  background: #fff;
  border: 1.5px solid #25d366;
}

.email-logo {
  color: #606060;
  background: #fff;
  border: 1.5px solid #606060;
}

.map-logo {
  color: #db4437;
  background: #fff;
  border: 1.5px solid #db4437;
}

.line {
  width: 50%;
  height: 10%;
  background: linear-gradient(to right, #2a5fac, #fff);
  position: absolute;
  bottom: -15%;
  border-radius: 20px 10px;
  transform: translate(0%, 50%);
}

.line::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fff, #f2b544);
  border-radius: 20px 10px;
  animation: animate 9s linear infinite;
}

@keyframes animate {
  0% {
    left: 0;
  }

  50% {
    left: 60%;
  }

  0% {
    left: 0;
  }
}

@media screen and (max-width: 800px) {
  * {
    font-size: 0.85rem;
  }

  .nav {
    width: calc(100% - 10px);
  }

  .about_content {
    flex-direction: column;
    height: auto;
    margin: auto;
    padding: 30px 0;
  }

  .title {
    font-size: 4.5rem;
  }

  .content {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 10px;
  }

  .goals-header > h2 {
    font-size: 3.5rem !important;
  }

  .goals-items {
    flex-direction: column-reverse;
    width: 75%;
  }

  .goals-items > p {
    font-size: 1.145rem !important;
  }

  .goals-img {
    max-width: 15%;
  }

  .vision-desc {
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
  }

  .services {
    flex-direction: column;
    gap: 30px;
  }

  .mission-content {
    padding: 35px 5px;
    margin: 0 auto;
  }

  .val-line {
    top: 21% !important;
  }
}

@media screen and (max-width: 600px) {
  * {
    font-size: 0.8rem;
  }

  .title {
    font-size: 4rem;
  }

  .content_2 {
    font-size: 0.8rem;
    width: 60%;
    padding: 20px 0;
    gap: 10px;
  }

  .about-line {
    margin: 10px auto;
  }

  .goals-items {
    font-size: 0.9rem;
  }

  .goals-img {
    min-height: 90%;
  }

  .val-line {
    top: 18% !important;
  }

  .mission-items {
    gap: 30px;
  }

  .contact-items {
    flex-direction: column;
    padding: 90px 0 50px 0;
  }
}

@media screen and (max-width: 500px) {
  .about-items {
    top: 20%;
  }

  .about_content {
    padding: 20px 0;
    gap: 15px;
  }

  .title {
    font-size: 3.5rem;
  }

  .content {
    font-size: 0.7rem;
    width: 70%;
    margin: 10px auto;
  }

  .goals-items {
    font-size: 0.88rem;
  }

  .goals-header {
    margin: 90px 0 10px 0;
  }

  .goals-img {
    height: 80%;
  }

  .value-bg-image {
    background-size: cover !important;
  }

  .value-content {
    width: 70% !important;
    margin: auto !important;
    background: rgba(0, 0, 0, 0.1);
    padding: 0 20px 10px 20px;
    border-radius: 20px;
  }

  .value-items {
    width: auto !important;
  }

  .val-line {
    top: 22% !important;
  }

  .line-service {
    bottom: -5%;
  }

  .rent-service-ar {
    padding: 5px 0 0 0;
  }

  .vision-content {
    width: auto;
  }

  .vision-img {
    margin: 0 auto;
  }

  .line {
    bottom: -20%;
    left: 10%;
  }
}

@media screen and (max-width: 400px) {
  .about-items {
    top: 17.5%;
  }

  .goals-content > p {
    font-size: 1rem !important;
  }

  .val-line {
    top: 18% !important;
  }

  .value-content {
    width: 70% !important;
  }

  .vision-desc {
    margin: 20px auto;
  }

  .vision-img {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 315px) {
  .about-items {
    top: 11.5%;
  }

  .about_content {
    padding: 15px 0;
    gap: 10px;
  }

  .goals-content > p {
    font-size: 0.88rem !important;
  }

  .val-line {
    top: 14% !important;
  }

  .nav {
    width: 100%;
  }

  .nav-items {
    gap: 8px;
  }
}
